html,
body {
  height: 100%;
  overflow-y: hidden;
}

body.loading {
  position: relative;
}

body.loading #loadingScreen {
  opacity: 1;
  transition: none;
}

.spotifyLogo {
  stroke: #0000;
  fill: #1ed760;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body.loading > #loadingScreen > .spotifyLogo {
  display: block;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  opacity: 0;
  transition: opacity, 2s;
  pointer-events: none;
}

#loadingScreen #errorField {
  color: #dfe1e5;
  font-family: "Circular Book";
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 35%;
  text-align: center;
  width: 100%;
}

#loadingScreen #errorCode {
  color: #dfe1e5;
  font-family: "Circular Book";
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 30%;
  text-align: center;
  width: 100%;
}

#loadingScreen > .spotifyLogo {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 304px;
  height: 85px;
}
